@import "../../variables";
@import "../../breakpoints";
@import "../../mixin";

.header {
    @include shadow();
    background-color: $blue;
    display: flex;
    height: 4rem;
    position: sticky;
    top: 0;

    &__container {
        align-items: center;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        width: 100%;

        @media screen and (min-width: $desktop_xsm) {
            gap: 2rem;
        }
    }

    &__logo {
        color: $light-grey;
        flex-grow: 1;

        @media screen and (min-width: $desktop_xsm) {
            flex-grow: 0;
        }

        &__link {
            display: flex;
            max-width: 4rem;
        }
    }

    &__menuButton {
        cursor: pointer;
        display: flex;

        :active {
            @include primaryColorFilter();
        }

        @media screen and (min-width: $desktop_xsm) {
            display: none;
        }
    }

    &__menu {
        background-color: $black;
        box-sizing: border-box;
        height: 0;
        min-width: 40vw;
        overflow-y: hidden;
        padding: 0;
        position: absolute;
        right: 0;
        scroll-behavior: smooth;
        transition:
            height 0.3s,
            visibility 0.3s;
        top: 64px;
        visibility: hidden;
        width: 0;

        @media screen and (min-width: $desktop_xsm) {
            background-color: inherit;
            display: flex;
            flex-grow: 1;
            height: auto;
            min-width: none;
            position: relative;
            right: auto;
            top: auto;
            visibility: visible;
        }

        &__list {
            display: flex;
            flex-direction: column;
            margin: 0;

            @media screen and (min-width: $desktop_xsm) {
                flex-direction: row;
                gap: 2rem;
            }
        }

        &__item {
            border-top: 1px solid $grey;
            border-bottom: 1px solid $grey;
            display: flex;
            transition: background-color 0.3s;

            &:last-child {
                border-top: none;
            }

            &:active {
                background-color: $grey;
            }

            @media screen and (min-width: $desktop_xsm) {
                border: none;

                &:active {
                    background-color: inherit;
                }
            }
        }

        &__link {
            color: $light-grey;
            display: flex;
            line-height: 2;
            padding: 1rem;
            position: relative;
            text-transform: uppercase;
            width: 100%;

            @media screen and (min-width: $desktop_xsm) {
                padding: 0;

                &:before {
                    background-color: $light-grey;
                    content: "";
                    bottom: 0;
                    height: 2px;
                    left: 0;
                    position: absolute;
                    transition: width 0.3s ease-in-out 0s;
                    visibility: hidden;
                    width: 0;
                }

                &:hover:before {
                    visibility: visible;
                    width: 100%;
                }

                &:active:before {
                    background-color: $orange;
                }
            }

            &:active {
                color: $orange;
            }
        }
    }

    &__search {
        align-items: center;
        border: none;
        display: flex;
        position: relative;

        &__input {
            @include shadow();
            border: none;
            border-radius: 15px;
            outline: transparent;
            transition: width 0.5s;
            visibility: hidden;
            width: 0;

            @media screen and (min-width: $desktop_xsm) {
                padding: 0.5rem;
                visibility: visible;
                width: auto;
            }

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                appearance: none;
                background-image: url("../../../assets/images/close_FILL0_wght700_GRAD0_opsz20.svg");
                background-size: cover;
                cursor: pointer;
                height: 16px;
                width: 16px;
            }
        }

        &__icon {
            cursor: pointer;
            display: flex;

            &:active {
                @include primaryColorFilter();
            }

            @media screen and (min-width: $desktop_xsm) {
                cursor: auto;
                filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(96%) contrast(95%);
                padding: 0 5px;
                position: absolute;
                right: 0;

                &:active {
                    filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(96%) contrast(95%);
                }
            }
        }
    }
}
