$padding-horizontal-mobile-sm: 1rem;
$padding-horizontal-mobile-md: 2rem;
$padding-horizontal-desktop-sm: 2rem;
$padding-horizontal-desktop-md: 2rem;
$dark: #242536;
$dark-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;
$red-dark: #c62a2a;
$darkest-grey: #70707b;