@import "./variables";
@import "./breakpoints";

:root {
  color: $dark;
  font-family: Roboto, sans-serif;
}

.container {
  padding:  1rem $padding-horizontal-mobile;
  max-width: $desktop_lg;
  margin: 0 auto;

  @media screen and (min-width: $mobile-md) {
    padding:  1rem $padding-horizontal-desktop;
  }
}

.logo {
  &__small{
    height: 3rem;
    width: 3rem;
  }
  &__medium{
    height: 4rem;
    width: 4rem;
  }
}
