@import "./variables";
@import "./breakpoints";

.container {
  padding:  1rem $padding-horizontal-mobile;
  @media screen and (min-width: $mobile-md) {
    padding:  1rem $padding-horizontal-desktop;
  }
}

.logo {
  &__small{
    height: 3rem;
    width: 3rem;
  }
  &__medium{
    height: 4rem;
    width: 4rem;
  }
}

