@import "../../variables";
@import "../../breakpoints";
@import "../../mixin";

.main {
    min-height: calc(100vh - 4rem);
    background-color: $grey;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;

        @media screen and (min-width: $mobile-md) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item {
            @include shadow();
            background-color: $light-grey;
            border: 2px solid transparent;
            border-radius: 10px;
            cursor: pointer;
            padding: 1rem;

            &:active {
                border-color: $orange;

                .main__list__link {
                    background-color: $orange;
                }
            }

            @media screen and (min-width: $mobile-md) {
                max-width: 40%;
            }

            @media screen and (min-width: $desktop_xsm) {
                max-width: 25%;

                &:hover {
                    border: 2px solid $orange;
                }
            }

            @media screen and (min-width: $desktop_lg) {
                max-width: 20%;
            }
        }

        &__article {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            padding-bottom: 1rem;
            text-align: center;
            text-transform: uppercase;
        }

        &__image {
            border-radius: 5px;
            width: 100%;
        }

        &__description {
            line-height: 1.5;
            text-align: justify;
        }

        &__date {
            font-size: 0.75rem;
            margin-bottom: 1rem;
            text-align: end;
            width: 100%;
        }

        &__link {
            background-color: $blue;
            border-radius: 20px;
            color: $light-grey;
            margin-top: 1rem;
            padding: 1rem 2rem;
            text-align: center;
            text-transform: uppercase;
            width: fit-content;
        }
    }
}
