@import "../../variables";
@import "../../breakpoints";
@import "../../mixin";

.main {
    &__modal {
        &__article {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: fit-content;
            justify-content: space-between;
            width: 100%;

            @media screen and (min-width: $mobile-md) {
                padding: 1rem 0;
            }
        }

        &__image {
            object-fit: cover;
            object-position: center;
            border-radius: 5px;
            height: 50vh;
            width: 100%;
        }
    }

    &__list__author {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &__name {
            font-size: 0.75rem;
            margin-bottom: 1rem;
            text-align: start;
            width: 100%;
        }
    }
}
