@import '../variables';
@import '../breakpoints';

.header {
    background-color: $blue;
    display: flex;
    height: 4rem;

    &__container{
        align-items: center;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        width:100%;
    }
    
    &__logo{
        color: $light-grey;
        flex-grow: 1;

        @media screen and (min-width: $desktop_xsm){
            flex-grow: 0;
        }
    }

    &__menuButton{
        cursor: pointer;
        display: flex;

        @media screen and (min-width: $desktop_xsm){
            display: none;
        }
    }

    &__menu {
        display: none;

        @media screen and (min-width: $desktop_xsm){
            display: flex;
        }

        &__list{
            display: flex;
            gap: 2rem;
        }

       &__link{
        color: $light-grey;
        position: relative;
        text-transform: uppercase;

        &:before{
            background-color: $light-grey;
            bottom: -5px;
            content: "";
            height: 2px;
            left: 0;
            position: absolute;
            transition: all .3s ease-in-out 0s;
            visibility: hidden;
            width: 0;
        }

        &:hover:before{
            visibility: visible;
            width: 100%;
        }
       }
    }

    &__search{
        align-items: center;
        border: none;
        display: flex;
        position: relative;

        &__input{
            border: none;
            border-radius: 15px;
            display: none;
            outline: transparent;
            padding: 0.5rem;

            @media screen and (min-width: $desktop_xsm){
                display: block;
            }

        }

        &__icon{
            display: flex;
            cursor: pointer;

            @media screen and (min-width: $desktop_xsm) {
                filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(96%) contrast(95%);
                padding: 0 5px;
                position: absolute;
                right: 0;
            }
        }
    }
}