@import "../../variables";
@import "../../breakpoints";
@import "../../mixin";

.footer {
    align-items: center;
    background: $blue;
    color: $light-grey;
    display: flex;
    justify-content: center;

    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media screen and (min-width: $desktop-xsm) {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__logo {
        align-items: center;
        display: flex;
        height: 2.25rem;
    }

    &__social {
        display: flex;
        gap: 1rem;

        &__link {
            height: 2.25rem;
        }

        &__icon {
            &:active {
                @include primaryColorFilter();
            }

            @media screen and (min-width: $desktop-xsm) {
                &:hover {
                    @include primaryColorFilter();
                }
            }
        }
    }
}
